<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRealTimeUnit" />
                <binding name="BasicHttpBinding_IDisplay" />
                <binding name="BasicHttpBinding_IDatabaseManager" />
                <binding name="BasicHttpBinding_ITrendingPublisher" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IAlarmer" />
                <binding name="WSDualHttpBinding_ITrendingSubscriber" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60577/ScadaService.svc/RealTimeUnit/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRealTimeUnit"
                contract="ServiceReference1.IRealTimeUnit" name="BasicHttpBinding_IRealTimeUnit" />
            <endpoint address="http://localhost:60577/ScadaService.svc/TestDisplay/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDisplay"
                contract="ServiceReference1.IDisplay" name="BasicHttpBinding_IDisplay" />
            <endpoint address="http://localhost:60577/ScadaService.svc/DatabaseManager/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDatabaseManager"
                contract="ServiceReference1.IDatabaseManager" name="BasicHttpBinding_IDatabaseManager" />
            <endpoint address="http://localhost:60577/ScadaService.svc/Alarmer/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAlarmer"
                contract="ServiceReference1.IAlarmer" name="WSDualHttpBinding_IAlarmer">
                <identity>
                    <userPrincipalName value="DESKTOP-56RP4AP\Nenad" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:60577/ScadaService.svc/TrendingPub/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITrendingPublisher"
                contract="ServiceReference1.ITrendingPublisher" name="BasicHttpBinding_ITrendingPublisher" />
            <endpoint address="http://localhost:60577/ScadaService.svc/TrendingSub/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ITrendingSubscriber"
                contract="ServiceReference1.ITrendingSubscriber" name="WSDualHttpBinding_ITrendingSubscriber">
                <identity>
                    <userPrincipalName value="DESKTOP-56RP4AP\Nenad" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>